.App {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.Card-zerostate {
  text-align: center;
  color: gray;
  min-height: 2vh;
}

.ul-checkbox {
  list-style: none;
  padding-left: 0.25rem;
}

.FilterCard {
  margin-bottom: 0.5rem;
}

.CatalogTableCard {
  margin-bottom: 0.5rem;
}
